﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top: 60px;">
    <h1 class="text-center" style="margin-bottom: 20px;">@ViewBag.Stack</h1>
    <p class="text-center"><a href="https://simpleinjector.org/index.html" class="btn btn-default btn-lg"><img src="https://simpleinjector.org/img/SimpleInjector_logo.svg" /></a></p>
</div>